<section class="section">
  	<div class="container">
    	<div class="columns">
	    	
	 		<%= render 'side_block' %>
				
			<div class="column is-half">

					<% @user.followers.each do |user| %>
					<div class="box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<%= gravatar_image_tag(user.email, size: 64, alt: user.name )%>
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong><%=link_to user do %>
									<%= user.name %>
										<% end %>
									</strong>
								<small>(<%= user.job_title %> - <%= user.department %>)</small>
							</p>
							

						</div>
					</div>
				</article>
				
				</div>
				<% end %>
			</div>

		</div>
	</div>
</section>