
 	
	 <div class="column is-one-quarter">
		<nav class="panel">
		<p class="panel-heading">Profile</p>
			<div class="panel-block" style="background-color: white">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<%= gravatar_image_tag(@user.email, size: 64, alt: @user.name )%>
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong><%= @user.name %></strong>
								<small>(<%= @user.job_title %> - <%= @user.department %>)</small>
							</p>
							<%= render 'follow_form' %>

						</div>
					</div>
				</article>
			</div>

				<%= render 'stats' %>

		</nav>
	</div>
