<div class="column is-half">
	<article class="media box">
		<div class="media-content">
				<%= render 'search' %>
		</div>
	</article>
	<% if user_signed_in? %>
	<article class="media box" style="background-color:#EAF5FC">
		<figure class="media-left">
			<p class="image is-64x64">
				<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name )%>
			</p>
		</figure>
			<div class="media-content">
				<%= render 'form' %>
		</div>
	</article>
	<% end %>
	


	<% @streams.each do |stream| %>

	<div class="box">
		<article class="media">
			<div class="media-left">
				<figure class="image is-64x64">
					<%= gravatar_image_tag(stream.user.email, size: 64, alt: stream.user.name )%>
				</figure>
			</div>
			
			<div class="media-content">
				<div class="content"> 
					<%= link_to stream.user do %>
					<span><strong><%= stream.user.name %></strong></span>
					<% end %>
					<small>  @<%= stream.user.username %> - <%= time_ago_in_words(stream.created_at)%></small>
					<p>
						<small>(<%= stream.user.job_title%> - <%= stream.user.department%>)</small>
					<hr>
					<p><%= link_to stream do %>
						
					  <div class="no-decoration">	 
					  	<%= stream.stream %>
					  </div>
					 </p>
					 
					
					 <%= image_tag stream.picture.url if stream.picture? %>
					 
					
					 
				</div>

				<% if stream.user == current_user %>
				<nav class="level">
					<div class="level-left is-mobile">
						<%= link_to edit_stream_path(stream), class: "level-item" do %>
							<span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
						<% end %>
						<%= link_to stream, method: :delete, data: { confirm: "Are you sure you want to delete this Stream?"} do %>
							<span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
						<% end %>
					</div>
				</nav>
				<% else %>
				<nav class="level">
					<div class="level-left is-mobile">
						<%= link_to like_stream_path(stream), method: :put do %>
						<i class= "fa fa-thumbs-o-up"></i>
						<small><%= stream.get_upvotes.size %></small>
						<% end %>
						<div class="whitespace">TEst</div>
						<%= link_to dislike_stream_path(stream), method: :put do %>
						<i class= "fa fa-thumbs-o-down"></i>
						<small><%= stream.get_downvotes.size %></small>
						<% end %>
					</div>
				</nav>
				<% end %>
				<% end %>
			</div>
			
		
		</article>
		</div>
	<% end %>

</div>














